{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="delete-border">
  <div class="page-header">
    <h1>Delete Butterfly?</h1>
  </div>
  <h2 class="question">Are you sure you want to delete {{ butterfly.name }}?</h2>
    <form action="" method="post" class="form">
      {% csrf_token %}
      <button type="submit" class="btn danger" id="delete-button">Yes - Delete!</button>
      <a 
        href="{% url 'butterfly-detail' butterfly.id %}" 
        class="btn secondary"
      >
        Cancel
      </a>
    </form>
</div>

{% endblock %}