{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
<div class="about-view">
  <h1>All About Being A Buttefly Collector</h1>
  <hr />
    <p class="page-content">
      {% comment %} The best part of what I do is being able to see all the butterflies up close and personal and then letting them back in to the wild. Catching butterflies isn't as easy as you may think... You have to be mindful and cautious when trying to catch one because you don't want to accidentally hit their wings.  {% endcomment %}
      {% comment %} <h2>Add about being a butterfly collector how it is, and add a list of tips and tricks on how to catch a butterfly, and add in how to care for butterflies that are hurt or another view page for this idea?</h2> {% endcomment %}
      The best part of collecting butterflies is being able to let them back out into the wild after I study them. When I am out catching them it always feels like time doesn't exist. A very important tip if you decide to get into catching butterflies is that you have to be very careful not to hit their wings. Overall this has been such a life changing hobby of mine and I hope for you it becomes something you hold dear to your heart.
    </p>
  </div>



{% endblock %}