{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
<div class="about-view">
  <h1>All About Being A Buttefly Collector</h1>
  <hr />
    <p class="page-content">
      The best part of collecting butterflies is being able to let them back out into the wild after I study them. When I am out catching them it always feels like time doesn't exist. A very important tip if you decide to get into catching butterflies is that you have to be very careful not to hit their wings. Overall this has been such a life changing hobby of mine and I hope for you it becomes something you hold dear to your heart.
    </p>
  </div>

{% endblock %}