{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static "images/favicon.png" %}"
  >
  <title>Butterfly Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      {% comment %} <a href="/"> {% endcomment %}
        {% comment %} <img 
          src="{% static "images/colorful.svg" %}"
          alt="The Butterfly Collector Logo"
          class="nav-image"
        > {% endcomment %}
      {% comment %} </a>  {% endcomment %}
    </div>
    <nav>
      {% comment %} <h2>The Butterfly Collector</h2> {% endcomment %}
      <ul> 
        {% comment %} <h2 class="logo-text">The Butterfly Collector</h2> {% endcomment %}
        {% if user.is_authenticated %}
        {% comment %} <li><a href="/">Home</a></li> {% endcomment %}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'butterfly-index' %}">My Butterflies</a></li>
        <li><a href="{% url 'butterfly-create' %}">Add a Butterfly</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'home' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>