{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  <div class="butterfly-container">
    <img src="{% static 'images/colorful.svg' %}" alt="Multicolered Butterfly" />
  </div>
  {% comment %} <img 
    src="{% static 'images/colorful.svg' %}"
    alt="Multicolored Butterfly" 
  />  {% endcomment %}
</section>
{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input autocomplete="off" type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Log In</button>
  </form>
</section>
{% endif %}



{% endblock %}




{% comment %} <h1>hello</h1> {% endcomment %}
{% comment %} <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
<dotlottie-player src="{% static "/static/fly-pink.json.json" %}" background="transparent" speed="1" style="width: 300px; height: 300px" direction="1" mode="normal" loop controls autoplay></dotlottie-player>   {% endcomment %}