{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/butterflies/butterfly-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="butterfly-container">
  <div class="butterfly-img">
    <img 
      src="" 
      alt=""
    >
  </div>
  <div class="butterfly-details">
    <h1>Name:{{ butterfly.name }}</h1>
    {% if butterfly.age > 0 %}
      <h2>A {{ butterfly.age }} month old {{ butterfly.species }}</h2>
    {% else %}
      <h2>A {{ butterfly.species }} lives long.</h2>
    {% endif %}
    <h2>{{ butterfly.description }}</h2>
    <div class="butterfly-actions">
      <a href="{% url 'butterfly-update' butterfly.id %}" class="btn warn">Edit</a>
      <a href="{% url 'butterfly-delete' butterfly.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}