{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/butterflies/butterfly-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <div class="butterfly-list">
    <h1>Butterfly List</h1>
  </div>
</section> 
<section class="card-container">
  {% for butterfly in butterflies %}
    <div class="card">
      <a href="{% url 'butterfly-detail' butterfly.id %}">
        <div class="card-content">
          <h2 class="card-title">{{ butterfly.name }}</h2>
          {% if butterfly.age > 0 %}
            <p>A {{ butterfly.age }} month old {{ butterfly.species }}</p>
          {% else %}
            <p>A {{ butterfly.species }} lives long.</p>
          {% endif %}
          <p><small>{{ butterfly.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}